<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel ="stylesheet" href = "aboutusstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>

</head>
<body>
    <div class="tm-top-bar-bg"></div>
    <div class="tm-top-bar" id="tm-top-bar">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg narbar-light">
                    <a class="navbar-brand mr-auto" href="#">
                        <img src="img/logo.png" alt="Site logo">
                        Recipes
                    </a>
                    <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="googlemap.html">Food Donations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- .tm-top-bar -->
    <div class = "title-con">
        <h1>About Us</h1>
    </div>
    <div class = "names-con">
        <div class = "box-con">
            <h2>Made By:</h2>
            <h4>Gauri Pala</h4>
            <h4>Stephanie Nguyen</h4>
            <h4>Ayushi</h4>
            <h4>Maia</h4>
        </div>
    </div>
    <div class = "about-con">
        <p>The four of us are all very passionate about cooking and we all share the same concerning experience: We always see fellow chefs throwing away food simply because they don't know what to make with it. This inspired us to create [insert name here] to possibly combat food waste in an efficient manner. We hope to see a decrease in the global food waste amount soon.</p>
    </div>
    <div class="row">
        <div class="column">
            <img class = "fruit" src="img/fruit.jpg" style="width: 100%"/>
        </div>
        <div class="column">
          <img class = "salad" src="img/salad.jpg" style="width: 100%"/>
        </div>
        <div class="column">
          <img class="cookie" src="img/cookie.jpg" style="width: 100%"/>
        </div>
      </div>
    

</body>