*{
    padding:0px;
    margin:0px;
    font-family: 'Comfortaa', cursive;
}
.title-con{
    width: 100%;
    min-height: 80px;
    background-color: #AAFFB6;
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 35px;
    font-family: 'Comfortaa', cursive;
    text-align: center;

}
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

p:last-child { margin-bottom: 0; }

.tm-page-wrap { 
    max-width: 1400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: white;
}

.tm-container-outer {
    max-width: 1400px;
    margin: 0 auto;    
}

.tm-content-box { box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
.tm-text-gray { color: #787676; }

.tm-text-highlight {
    color: #c66995;
    font-weight: 600;
}

.tm-bg-primary { background: #69c6ba; }
.tm-bg-highlight { background: #c66995; }

.btn-primary {
    background: #69c6ba;
    border: none;
    border-radius: 0;
    outline: none;
}

.btn-primary:hover { background: #c66995; }
.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 20px 35px; }

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 100px;
    background: white;
    padding-top: 20px;
}

.tm-top-bar.active {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link { padding: 20px 35px; }
.tm-top-bar.active .navbar-brand { font-size: 1.4rem; }

.tm-top-bar .navbar-brand img {
    width: 60px;
    height: auto;
}

.tm-top-bar.active .navbar-brand img { width: 40px; }
.tm-top-bar-bg { height: 100px; }
.tm-top-bar a { color: black; }

.navbar-brand {
    font-size: 2.2rem;    
    text-transform: uppercase;    
}

.navbar {
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link.active, .nav-link:hover { color: #69c6ba; }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler { 
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}
