<!--
Inspired from: Journey Template
http://www.templatemo.com/tm-511-journey
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Recipe Generator</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/8107f2b612.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="style.css">
    <script>
        console.log(document.getElementById("outer"))
        document.getElementById("outer").style.color = 'orange';
    </script>

</head>

<body>
<div class="tm-main-content" id="top">
    <div class="tm-top-bar-bg"></div>
    <div class="tm-top-bar" id="tm-top-bar">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg narbar-light">
                    <a class="navbar-brand mr-auto" href="index.html">
                        <img src="img/logo.png" alt="Site logo">
                        Recipes
                    </a>
                    <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="googlemap.html">Food Donations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- .tm-top-bar -->

    <div class="tm-page-wrap mx-auto">
        <section class="tm-banner">
            <div class="tm-container-outer tm-banner-bg">
                <div class="container">

                    <div class="row tm-banner-row tm-banner-row-header">
                        <div class="col-xs-12">
                            <div class="tm-banner-header">
                                <h1 class="text-uppercase tm-banner-title">Recipes</h1>
                                <!--   <img src="img/dots-3.png" alt="Dots"> -->
                                <p class="tm-banner-subtitle">Type In An Ingredient You Don't Know What To Do With. You Will Be Given A List Of Recipe Options That Mainly Incorporate Your Food. </p>
                            </div>
                        </div>  <!-- col-xs-12 -->
                    </div> <!-- row -->
                    <div class ="wrapper">
                        <input id ="ingredientField" type="text" class="input" placeholder="Search Ingredient">
                        <div id="search" class="searchbtn">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>

                </div> <!-- row -->

            </div>  <!-- .container -->
    </section>
    <div id="results"></div>

            <section class="p-5 tm-container-outer tm-bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                            <h2 class="text-uppercase mb-4">Reducing <strong>Food Waste</strong> is our priority</h2>
                            <p class="mb-4">As avid chefs, we see many foods constantly being thrown away simply because people do not know what to do with it. With the use of [insert name here], everyone has access to a vast amount of recipes that can help cut down food waste. With one click of a button, you can contribute to reducing the amount of food waste in the world!</p>

                        </div>
                    </div>
                </div>
            </section>

                </div>
            </div>
        </div>
    </section>

    <footer class="tm-container-outer">
        <p class="mb-0">Copyright © <span class="tm-current-year">2020</span> ZeroWasted . Designed by US</a></p>
        <p class="mb-0"> Contact us: a123@gmail.com </p>
    </footer>
</div>
</div>
<script src="../scripts/main.js"></script>
</body>
</html>
